.header {
  width: 50vw;
  height: 10px;
  background-image: url(../images/bg-header-desktop.svg);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  margin-left: 324px;
  margin-top: 20px;
  margin-bottom:12px;

  margin: 1 rem 0;
  position: relative;
}