/* Root variables */
// :root {
//   --primary-color: #245953;
//   --secondary-color: #408E91;
//   --accent-color: #E49393;
//   --background-color: #fff;
//   --text-color: #4d4d4d;
// }

 .job-controller-button-container {
   display: flex;
   justify-content: center;
   margin-top: 16px;
   gap: 16px;
   align-items: center;
 }

 .job-controller-button {
   background-color: var(--background-color);
   color: #3c3c3c;
   border: 2px solid #3c3c3c;
   border-radius: 4px;
  padding: 12px 24px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.2s;
   margin-right: 16px;
   margin-bottom: 16px;
 }

 .job-controller-button.active {
   background-color: #3c3c3c;
   color: #fff;
 }


.card {
  background-color: var(--background-color);
  border: none;
  border-radius: 4px;
  // box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33.33% - 20px);
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 370px;
  overflow: hidden;
  position: relative;
}

.card-image {
  height: 180px;
  object-fit: cover;
  width: 100%;
}

.card-header {
  background-color: var(--background-color);
  border-radius: 8px 8px 0 0;
  padding: 10px 0;
}


.card-title {
  color: #222;
  font-size: 18px;
  margin: 0;
}

.card-title:hover {
  color: #1e88e5;
}

a {
  text-decoration: none;
}

.card-body {
  background-color: var(--background-color);
  border-radius: 0 0 8px 8px;

}

.card-text {
  color: #4d4c4c;
  font-size: 12px;
  // margin-bottom: 16px;
  // line-height: 1.5;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.apply-button {
  background-color: #1e88e5;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.apply-button:hover {
  background-color: #1565c0;
}
.card-footer {
  background-color: var(--background-color);
  border-radius: 8px;
  color: var(--text-color);
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.card-footer span {
  display: inline-block;
  background-color: #e4e4e4;
  color: #707070;
  padding: 4px;
  font-size: 10px;
  font-weight: lighter;
  border-radius: 8px;
  margin-bottom: 10px;
}



.card-footer span::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -4px;
  width: calc(100% + 8px);
  height: 1px;
  
  transform: translateY(-50%);
}

.card-footer span::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -2px;
  width: calc(100% + 4px);
  height: 1px;
 
  transform: translateY(-50%);
}

.job-controller-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job-controller-column {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}

