// .footer {
//   // width: 50vw;
//   // height: 10px;
//   // background-image: url(../images/bg-header-desktop.svg);
//   // background-color: var(--primary-color);
//   // display: flex;
//    align-items: center;
//   // padding: 1.5rem 2rem;
//   // border-radius: 2px;
//   // margin-left: 324px;
//   // margin-top: 20px;
//   // margin-bottom: 0px;
 
//   // display:flex; 
//   // flex-direction:column; 
//   // justify-content:space-between;
//   font-family: 'Lato', sans-serif;
//   width: 500px;
//    margin: 25px auto 50px auto;
//   position: relative;
//   color: hsl(180, 8%, 52%);
  

// }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  margin-top: 0px;
}
